/* AnimeCard.css */

.anime-card {
    width: 200px;
    height: 430px;
    border: 1px solid #555;
    border-radius: 10px;
    background-color: #444;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 0 auto;
  }
  
  .anime-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }
  
  .anime-card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .anime-card-image-container {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-bottom: 1px solid #555;
  }
  
  .anime-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .anime-card-content {
    padding: 10px;
  }
  
  .anime-card-title {
    font-size: 16px;
    margin: 10px 0;
    color: #f1c40f;
  }
  
  .anime-card-score {
    font-size: 14px;
    color: #ddd;
  }
  